body{
	margin: 0 auto;
	background: #d2d2d2;
	width: 100%; height: 100%;
}

#login-form {
    width: 300px;
    border: 1px;
    border-color: #ccc;
    border-radius: 10px;
    border-top-left-radius: 52px;
    background-color: #fff;
    box-shadow: 2px 2px 5px grey;
    padding: 10px;
    -webkit-border-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius: 10px;
    -moz-border-radius-topleft: 10px;
}

.centered {
    margin: 0 auto;
}