body{
	margin: 0 auto;
	background: #d2d2d2;
	width: 100%; height: 100%;
}

#signin-form {
    width: 300px;
    border: 1px;
    border-color: #ccc;
    border-radius: 10px;
    border-top-left-radius: 52px;
    background-color: #fff;
    padding: 10px;
    margin-top: 10px;
    -webkit-border-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius: 10px;
    -moz-border-radius-topleft: 10px;
}

#enc-wrapper {
    width: 750px; height: 559px;
    margin-top: 10px;
    -moz-user-select: none; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none; 
}

#enc-header {
    padding: 5px;
}

#enc-reset-btn {
    float: right;
}

#enc-title {
    color: #5e6d81;
    font-size: 14px;
    font-weight: 700;
}

#enc-act-list {
    height: 500px;
}

#enc-edit {
    height: 500px;
    padding: 20px;
}

#enc-footer {
    padding: 5px;
}

#enc-tracker {
    color: #5e6d81;
    font-size: 14px;
    font-weight: 700;
    float: left;
}

#enc-step-btn {
    float: right;
}

.centered {
    margin: 0 auto;
}
