<div id="enc-wrapper" class="centered" ng-controller="EncController">
    <div class="row">
        <div id="enc-header" class="col-sm-12 panel panel-default">
            <span id="enc-title">Encounter Name</span>
            <button id="enc-reset-btn" class="btn btn-warning">
                <span class="glyphicon glyphicon-refresh"></span>
            </button>
        </div>
    </div>
    <div class="row">
        <div id="enc-act-list" class="col-sm-7 panel panel-default">

        </div>
        <div class="col-sm-1"></div>
        <div id="enc-edit" class="col-sm-4 panel panel-default">
            <div id="enc-add-act-form">

            </div>
        </div>
    </div>

    <div class="row">
        <div id="enc-footer" class="col-sm-12 panel panel-default">
            <div id="enc-tracker">
                <span>Round </span>
                <span>1</span>
                <span> / </span>
                <span>Turn </span>
                <span>1</span>
            </div>
            <enc-step-btn></enc-step-btn>
        </div>
    </div>
</div>
