<div id="enc-wrapper" class="centered" ng-controller="EncController">
    <div class="row">
        <div id="enc-header" class="col-sm-12 panel panel-default">
            <span id="enc-title">Encounter Name</span>
            <enc-reset></enc-reset>
        </div>
    </div>
    <div class="row">
        <div id="enc-act-list" class="col-sm-7 panel panel-default">
            <!--TODO: for each actor draw actor-->
        </div>
        <div class="col-sm-1"></div>
        <div id="enc-edit" class="col-sm-4 panel panel-default">
            <enc-add-act-form></enc-add-act-form>
        </div>
    </div>

    <div class="row">
        <div id="enc-footer" class="col-sm-12 panel panel-default">
            <div id="enc-tracker">
                <span>Round </span>
                <span>1</span>
                <span> / </span>
                <span>Turn </span>
                <span>1</span>
            </div>
            <enc-step></enc-step>
        </div>
    </div>
</div>
