<div id="enc-wrapper" class="centered" ng-controller="EncController">
    <div class="row">
        <div id="enc-header" class="col-sm-12 panel panel-default">
            <span id="enc-title">Encounter Name</span>
            <div id="enc-buttons">
                <div class="btn-group">
                    <enc-add-act-button></enc-add-act-button>
                </div>
                <div class="btn-group">
                    <enc-step-button></enc-step-button>
                </div>
                <div class="btn-group">
                    <enc-reset-button></enc-reset-button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div id="enc-act-list" class="col-sm-12 panel panel-default">
            <!--TODO: for each actor draw actor-->
        </div>
    </div>
    
    <div class="row">
        <div id="enc-footer" class="col-sm-2 panel panel-default">
            <span>Round / Turn</span>
        </div>
    </div>
</div>
